body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  background-image: url("/assets/images/2108.q703.021.F.m004.c7.mining\ miner\ cartoon.jpg");
  background-size: cover; /* Scales the image to cover the entire body */
  background-repeat: no-repeat; /*Prevents repeating of the image */
  background-attachment: fixed; /* Keeps the background fixed on scroll */
  background-position: center;
}

#canvas {
  border: 2px solid black;
}

.presentation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  color: white;
  text-align: center;
  transform: translateY(150px);
}

.text-content {
  margin-bottom: 20px;
}

.background-image-container {
  max-width: 80%; /* Controls image width */
  text-align: center;
}

.background-image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.oro-image {
  height: 75px;
}

.euro-image {
  height: 55px;
}

#title-gold-rush {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}
